<br>

<!--div per messaggio "utente cancellato"-->
<div class="row">
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
    <div class="col-12 col-sm-12 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div style="align-content:center" id="error" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            <h5 style="display:inline-block">
                {{successMsg}}
            </h5>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
</div>

<div id="container-admin-page">
    <div class="row">
        <div class="col-md-6">
            <h1> Admin page
            </h1>
        </div>
        <div class="col-md-6">
            <h1 class="float-right">
                <i class="fas fa-unlock-alt"></i>
            </h1>
        </div>
    </div>
    <hr noshade>
    <div class="row">
        <div class="col-md-6">
            <br>
            <h3>Visualizza utenti registrati</h3>
            <br>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-arrow-down"></i> Lista utenti
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <ul class="list-group">
                    {{#each users}} {{#unless isAdmin}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6">
                                <h5 class="card-text">Nome evocatore: {{username}}</h5>
                                <h6 class="card-text">Email: {{email}}</h6>
                                <p class="card-text">id: {{_id}}</p>
                            </div>
                            <div class="col-12 col-sm-5 col-md-5">
                                <h5 style="color:rgb(36, 184, 252)">EB: {{blueEssence}}</h5>
                                <h5 style="color:rgb(1, 7, 37)">Campioni: </h5>
                                {{#each champions}}
                                <h5>{{name}}</h5>
                                {{/each}}
                            </div>
                            <div class="col-12 col-sm-1 col-md-1">
                                <h2 class="float-right">
                                    <i id="iconUser" class="fas fa-user-circle"></i>
                                </h2>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="/admin/{{_id}}" method="post" id="delete-form">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-exclamation-triangle"></i> Delete Account
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
                <br>
            </div>
        </div>
        <div class="col-md-6">
            <br>
            <h3>Visualizza tutti i campioni</h3>
            <br>
            <a class="btn btn-primary" href="/admin/championsList">
                <i class="fas fa-link"></i> Lista campioni</a>
        </div>
    </div>
</div>
<br>