<br>


<!--div per messaggio "champ cancellato"-->
<div class="row">
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
    <div class="col-12 col-sm-12 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div style="align-content:center" id="error" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            <h5 style="display:inline-block">
                {{successMsg}}
                <i class="fas fa-check-circle"></i>
            </h5>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
</div>

<div class="row">
    <h2 id="campPres" style="color:snow">Campioni presenti: {{numeroCampioni}}</h2>
</div>



<div class="row">

    <div id="contenitoreCarte" class="row">
        <div class="col-4 col-sm-2 col-md-2" id="colonnaCarta">
            <a style="text-decoration:none;" href="/admin/insertNewChamp" class="new-champ-button hvr-float-shadow">
                <div class="card" style="width: 100%;" id="plus">
                    <img class="card-img-top" name="plusImage" src="https://i.imgur.com/DGErFFv.png">
                    <div class="card-body" id="pluscard">
                        <div class="col-md-12" id="colonnaaggiugi">
                            <div class="row" id="rowplus">
                                <div class="col-sm-12 col-md-12">
                                    <h5 id="plustesto">Aggiungi campione</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {{#each champions}}
        <div class="col-4 col-sm-2 col-md-2" id="colonnaCarta">
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-12 col-sm-12 col-md-8" name="champName">
                            <h4 id="nomeCard" class="card-title"> {{this.name}}</h4>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4" align="right" name="prezzo">
                            <div class="row" id="rowprezzo">
                                <div class="col-md-12" id="yo2">
                                    <img id="eb" name="EB" width="15" height="23" src="https://i.imgur.com/YsdvMMg.png">
                                    <h5 id="priceCard" name="price">{{this.price}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="rowbottoni">
                        <div class="col-12 col-md-12" id="yo">
                            <a href="/champions/{{this.name}}" name="smallInfo" id="btnsmall" class="btn btn-info float-left">
                                <span>Info</span><span id="rmazioni">rmazioni</span>
                            </a>
                            <form action="/admin/delete/{{this._id}}" method="post">
                                <button type="submit" class="btn btn-danger float-right" id="btnsmall" role="button">Rimuovi</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>