<br>

<div class="row">
    <h2>Campioni presenti: {{numeroCampioni}}</h2>
</div>



<div class="row">

    <div class="row">
        <div class="col-6 col-sm-6 col-md-2" id="colonnaCarta">
            <a style="text-decoration:none;" href="/admin/insertNewChamp" class="new-champ-button hvr-float-shadow">
                <div class="card" style="width: 100%;" id="plus">
                    <img class="card-img-top" name="plusImage" src="https://i.imgur.com/DGErFFv.png">
                    <div class="card-body" id="pluscard">
                        <div class="col-md-12" id="colonnaaggiugi">
                            <div class="row" id="rowplus">
                                <div class="col-sm-6 col-md-12">
                                    <h5 id="plustesto">Aggiungi campione</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        {{#each champions}}
        <div class="col-6 col-md-2" id="colonnaCarta">
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-6 col-md-8" name="champName">
                            <h5 class="card-title" name="name"> {{this.name}}</h5>
                        </div>
                        <div class="col-6 col-md-4" align="right" name="prezzo">
                            <div class="row" id="rowprezzo">
                                <div class="col-md-12" id="yo2">
                                    <img name="EB" width="15" height="18" src="https://i.imgur.com/YsdvMMg.png">
                                    <h5 name="price">{{this.price}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="rowbottoni">
                        <div class="col-md-12" id="yo">
                            <a href="/champions/{{this.name}}" id="btnsmall" class="btn btn-info">
                                <span>Info</span>
                            </a>
                            <a href="/admin/updateChamp/{{this.name}}" class="btn btn-warning" id="btnsmall" role="button">Modifica</a>
                            <form action="<!--/admin/delete/{{this._id}}-->" method="post">
                                <button type="submit" class="btn btn-danger" id="btnsmall" role="button">Elimina</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>