<div class="row">
    {{#each users}}
    <div class="row">
        {{#each this}}
        <div class="col-sm-6 col-md-4" id="colonnaCarta">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Email: {{this.email}}</h5>
                    <p class="card-text">Password: {{this.password}}</p>
                    <a href="/user/{{this.email}}" class="btn btn-info" role="button">
                        <span>Info Utente</span>
                    </a>
                    <form action="/admin/{{this._id}}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <button type="submit" class="btn btn-danger">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>