<div class="row">
    {{#each users}}
    <div class="row">
        {{#each this}}
        {{#unless isAdmin}}
        <div class="col-sm-6 col-md-4" id="colonnaCarta">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-text">Username: {{username}}</h5>
                    <h6 class="card-text">Email: {{email}}</h6>
                    <h6 class="card-text">Passowrd: {{password}}</h6>
                    <p class="card-text">id: {{_id}}</p>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/admin/{{_id}}" method="post">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Delete Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    {{/each}}
</div>