<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" id="navbarprincipale">
    <a class="navbar-brand" href="/">
        <img src="https://orig00.deviantart.net/6f51/f/2017/006/5/f/new_league_of_legends_icon_token_style_light__dark_by_flexo013-dauff79.png"
            width="35" height="35" alt="">
    </a>
    {{#if loggedAsUser}}
    <div class="navbar-header">
        <strong style="color:rgb(195, 193, 188); font-size: 130%; text-transform: uppercase;">&nbsp;{{user.username}}&ensp;</strong>
        <strong style="color:rgb(0, 128, 208); font-size: 130%"> {{user.blueEssence}} EB</strong>
    </div>
    {{/if}}
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {{#unless loggedAsAdmin}}
            <li class="nav-item">
                <a class="nav-link" href="/cart/">
                    <i class="fas fa-shopping-cart"></i> Carrello
                    <span class="badge">{{session.cart.totalQty}}</span>
                </a>
            </li>
            {{/unless}}
            <li class="nav-item dropdown">
                {{#if loggedAsUser}}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i> Ciao {{user.username}}
                    <span class="caret"></span>
                </a>
                {{else}} {{#unless loggedAsAdmin}}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i> Account
                    <span class="caret"></span>
                </a>
                {{/unless}} {{/if}}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if loggedAsUser}}
                    <a class="dropdown-item" href="/user/profile">Profilo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/user/signup">Sign up</a>
                    <a class="dropdown-item" href="/user/signin">Login</a>
                    {{/if}}
                </div>
            </li>
            {{#unless loggedAsUser}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user-lock"></i> Area protetta
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{#if loggedAsAdmin}}
                    <a class="dropdown-item" href="/admin/home">Profilo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/admin/signin">
                    <i class="fas fa-lock"></i>
                        Login (Admin)
                    </a>
                    {{/if}}
                </div>
            </li>
            {{/unless}}

        </ul>
    </div>

</nav>