<br> {{#each users}}
<div class="row">
    <div id="prova" class="col-md-12">
        <div class="row">
            <div id="prova" class="col-md-8">
                <h1>Benvenuto {{username}}</h1>
            </div>
            <div id="prova" class="col-md-4">
                <div class="float-right">
                    <strong style="font-size: 46px; color:rgb(9, 147, 211)">{{blueEssence}}
                        <img align="middle" id="ebprofile" width="40" height="50" src="https://i.imgur.com/qeZVwiU.png">
                    </strong>
                </div>
            </div>
        </div>
        <div id="prova" class="row">
            <div id="prova" class="col-md-12">
                <h3>Collezione campioni: </h3>
            </div>
        </div>
        {{#each champions}}
        <div id="prova" class="row">
            <div class="card text-white bg-dark" style="width: 14rem;">
                <img class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
                <div class="card-body">
                    <h2>{{this.name}}</h2>
                    <hr>
                    <h4 class="card-text">{{this.title}}.</h4>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}