<div class="row">
    <div id="prova" class="col-md-8">
        <h1>Benvenuto {{user.username}}</h1>
    </div>
    <div id="prova" class="col-md-4">
        <div class="float-right">
            <strong style="font-size: 46px; color:rgb(9, 147, 211)">{{user.blueEssence}}
                <img align="middle" id="ebprofile" width="40" height="50" src="https://i.imgur.com/qeZVwiU.png">
            </strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>I miei campioni</h2>
        {{#each users}} {{#each champions }}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img width="200" height="200" src="{{this.imagePath}}">
                            </div>
                            <div class="col-md-9">
                                <h4>{{this.name}} - {{this.title}}</h4>
                                <a href="/champions/{{this.name}}" class="btn btn-warning" role="button">Informazioni</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        {{/each}} {{/each}}
    </div>
</div>


{{#each orders}}
{{date}} <br>
{{/each}}