<br>

<!--div per messaggio "utente cancellato"-->
<div class="row">
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
    <div class="col-12 col-sm-12 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div style="align-content:center" id="error" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            <h5 style="display:inline-block">
                {{buySuccess}}
            </h5>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-4 col-md-offset-4 col-sm-offset-3">

    </div>
</div>

<div id="containerProfile">
    <div class="row">
        <div id="prova" class="col-md-8">
            <h1>Benvenuto {{user.username}}</h1>
        </div>
        <div id="prova" class="col-md-4">
            <div class="float-right">
                <strong style="font-size: 40px; color:rgb(9, 147, 211)">{{user.blueEssence}}
                    <img align="middle" id="ebprofile" width="45" height="60" src="https://i.imgur.com/qeZVwiU.png">
                </strong>
            </div>
        </div>
    </div>

    <hr style="height:4px;border-width:0;background-color:rgb(167, 161, 135)">

    <div class="row">
        <div class="col-sm-11 col-md-12">
            <h2>I miei campioni</h2>
            <br>
            <!--        
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca campione..." title="Type in a name">
        <br> -->

            <div class="panel-body">
                <ul class="columns" id="myChampions">
                    {{#if champions}} {{#each champions}}
                    <li class="list-group-item" id="cellaChampProfilo">
                        <div class="row">
                            <div class="col-5 col-sm-5 col-md-5">
                                <img width="150" height="150" id="imgChampProfile" src="{{this.imagePath}}">
                            </div>
                            <div class="col-7 col-sm-7 col-md-6">
                                <h2 id="nameChampProfile">{{this.name}}</h2>
                                <h4 id="titleChampProfile">{{this.title}}</h4>
                                <h5 id="roleChampProfile">{{this.role}}</h5>
                                <a href="/champions/{{this.name}}" class="btn btn-warning" id="buttonInfoProfile" role="button">Informazioni</a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <h4 style="color:rgb(178, 184, 189)">Non possiedi nessun campione. <br> <a style="color: rgb(182, 157, 18)"href="/"><i class="fas fa-shopping-cart"></i> Acquista</a> </h4>
                {{/if}}
            </div>
        </div>
    </div>

    <br> {{#if orders}}
    <hr style="height:4px;border-width:0;background-color:rgb(167, 161, 135)">
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2>I miei acquisti</h2>

            <br> {{#each orders}}
            <ul id="listaTransazioni">
                <li>
                    <h5 id="dataTransizione">In data: {{date}}</h5>
                    <div class="panel panel-default" id="pannelloTransazioni">
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each this.items }}
                                <li class="list-group-item">
                                    <h4 id="nameChampTransazione">{{this.item.name}} - {{this.item.title}}</h4>
                                    <span id="prezzoChampTransazione" class="float-right">{{ this.price }} EB</span>

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <br>
                        <div class="panel-footer">
                            <strong id="totaleTransazione">Totale pagato: {{this.cart.totalPrice}} EB</strong>
                        </div>
                        <hr style="height:1px;border-width:0;background-color:rgb(167, 161, 135)">
                    </div>
                </li>
            </ul>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>