<div class="row">
    <div id="prova" class="col-md-8">
        <h1>Benvenuto {{user.username}}</h1>
    </div>
    <div id="prova" class="col-md-4">
        <div class="float-right">
            <strong style="font-size: 46px; color:rgb(9, 147, 211)">{{user.blueEssence}}
                <img align="middle" id="ebprofile" width="40" height="50" src="https://i.imgur.com/qeZVwiU.png">
            </strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>I miei campioni</h2>


        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">


        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group" id="myUL"> 
                    {{#each users}} {{#each champions }}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img width="200" height="200" src="{{this.imagePath}}">
                            </div>
                            <div class="col-md-9">
                                <h4 id="prova">{{this.name}}</h4>
                                <h3> - {{this.title}}</h3>
                                <a href="/champions/{{this.name}}" class="btn btn-warning" role="button">Informazioni</a>
                            </div>
                        </div>
                    </li>
                     {{/each}} {{/each}}
                </ul>
            </div>
        </div>

    </div>
</div>
<script>
    function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h4")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }
</script> {{#each orders}} {{date}}
<br> {{/each}}