<br>

<!--Filters and Search bar-->
<div class="row" id="barrasopra">
    <!--filter by role column-->
    <div class="col-5 col-md-3">
        <strong id="filtra" style="font-size: 21px">Filtra: </strong>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropFiltra" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{role}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropFiltra">
            <a class="dropdown-item" href="/">Tutti</a>
            <a class="dropdown-item" href="/champions/role/Assassino">Assassino</a>
            <a class="dropdown-item" href="/champions/role/Tank">Tank</a>
            <a class="dropdown-item" href="/champions/role/Tiratore">Tiratore</a>
            <a class="dropdown-item" href="/champions/role/Mago">Mago</a>
            <a class="dropdown-item" href="/champions/role/Supporto">Supporto</a>
            <a class="dropdown-item" href="/champions/role/Combattente">Combattente</a>
        </div>

    </div>
    <!--Search bar column-->
    <div class="col-2 col-md-6">
        <!--
        <div class="box">
            <div class="container-4">
                <input type="search" id="search" placeholder="Search..." />
                <button class="icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>-->
    </div>
    <!--Sort by...column-->
    <div class="col-5 col-md-3" name="colonna3">
        <strong id="ordina" style="font-size: 21px">Ordina: </strong>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropOrdina" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{#if_eq sort 'pricedesc'}}Prezzo ↓{{/if_eq}} {{#if_eq sort 'priceasc'}}Prezzo ↑{{/if_eq}} {{#if_eq sort 'namedesc'}}Nome
            ↓{{/if_eq}} {{#if_eq sort 'nameasc'}}Nome ↑{{/if_eq}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if_eq sort 'pricedesc'}}
            <a class="dropdown-item" href="/EB">Prezzo ↑</a>
            <a class="dropdown-item" href="/A-Z">Nome ↓</a>
            <a class="dropdown-item" href="/Z-A">Nome ↑</a>
            {{/if_eq}} {{#if_eq sort 'priceasc'}}
            <a class="dropdown-item" href="/">Prezzo ↓</a>
            <a class="dropdown-item" href="/A-Z">Nome ↓</a>
            <a class="dropdown-item" href="/Z-A">Nome ↑</a>
            {{/if_eq}} {{#if_eq sort 'nameasc'}}
            <a class="dropdown-item" href="/">Prezzo ↓</a>
            <a class="dropdown-item" href="/EB">Prezzo ↑</a>
            <a class="dropdown-item" href="/A-Z">Nome ↓</a>
            {{/if_eq}} {{#if_eq sort 'namedesc'}}
            <a class="dropdown-item" href="/">Prezzo ↓</a>
            <a class="dropdown-item" href="/EB">Prezzo ↑</a>
            <a class="dropdown-item" href="/Z-A">Nome ↑</a>
            {{/if_eq}}
        </div>
    </div>


</div>


<br>
<br>

<!--div per messaggio "Campione già presente nel carrello!"-->
<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-6">
        {{#if champInCart}}
        <div class="alert alert-warning" role="alert">
            <h3 align="center" class="alert-heading">
                <i class="fas fa-exclamation-triangle"></i>
                Campione già presente nel carrello!</h3>
        </div>
        {{/if}}
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>


<div class="row carte">
    {{#each champions}}
    <div class="row">
        {{#each this}}
        <div class="colonna-carta" id="colonnaCarta">
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-12 col-md-8" name="champName">
                            <h2 class="card-title" name="name"> {{this.name}}</h2>
                        </div>
                        <div class="col-12 col-md-4" name="prezzo">
                            <div class="row" id="rowprezzo">
                                <div class="col-md-12" id="yo2">
                                    <img class="eb-icon" name="EB" width="25" height="34" src="https://i.imgur.com/YsdvMMg.png">
                                    <h2 class="price-card" name="price">{{this.price}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="titleHome" name="titleHome">{{this.title}}
                    </h3>
                    <div class="row" id="rowbottoni">
                        <div class="col-md-12" id="yo">
                            <a href="/champions/{{this.name}}" class="btn btn-dark alert informazioni" role="button" id="informazioni">Informazioni</a>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success aggiungi" id="aggiungi">Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>