<br>

<!--Filters and Search bar-->
<div class="row" align="center" id="barrasopra">
    <!--filter by role column-->
    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="col-md-4">
                <h4 id="filtra">Filtra per:</h4>
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="dropdown" align="left">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropFiltra" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{role}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropFiltra">
                        <a class="dropdown-item" href="/">Tutti</a>
                        <a class="dropdown-item" href="/champions/role/Assassino">Assassino</a>
                        <a class="dropdown-item" href="/champions/role/Tank">Tank</a>
                        <a class="dropdown-item" href="/champions/role/Tiratore">Tiratore</a>
                        <a class="dropdown-item" href="/champions/role/Mago">Mago</a>
                        <a class="dropdown-item" href="/champions/role/Supporto">Supporto</a>
                        <a class="dropdown-item" href="/champions/role/Combattente">Combattente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Search bar column-->
    <div class="col-sm-6 col-md-4">
        <div class="box">
            <div class="container-4">
                <input type="search" id="search" placeholder="Search..." />
                <button class="icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!--Sort by...column-->
    <div class="col-sm-6 col-md-4" name="colonna3">
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <h4 id="ordina">Ordina per:</h4>
            </div>
            <div class="col-sm-6 col-md-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropOrdina" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{#if_eq sort 'pricedesc'}}Prezzo ↓{{/if_eq}} {{#if_eq sort 'priceasc'}}Prezzo ↑{{/if_eq}} {{#if_eq sort 'namedesc'}}Alfabetico
                    ↓{{/if_eq}} {{#if_eq sort 'nameasc'}}Alfabetico ↑{{/if_eq}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if_eq sort 'pricedesc'}}
                    <a class="dropdown-item" href="/EB">Prezzo ↑</a>
                    <a class="dropdown-item" href="/A-Z">Alfabetico ↓</a>
                    <a class="dropdown-item" href="/Z-A">Alfabetico ↑</a>
                    {{/if_eq}} {{#if_eq sort 'priceasc'}}
                    <a class="dropdown-item" href="/">Prezzo ↓</a>
                    <a class="dropdown-item" href="/A-Z">Alfabetico ↓</a>
                    <a class="dropdown-item" href="/Z-A">Alfabetico ↑</a>
                    {{/if_eq}} {{#if_eq sort 'nameasc'}}
                    <a class="dropdown-item" href="/">Prezzo ↓</a>
                    <a class="dropdown-item" href="/EB">Prezzo ↑</a>
                    <a class="dropdown-item" href="/A-Z">Alfabetico ↓</a>
                    {{/if_eq}} {{#if_eq sort 'namedesc'}}
                    <a class="dropdown-item" href="/">Prezzo ↓</a>
                    <a class="dropdown-item" href="/EB">Prezzo ↑</a>
                    <a class="dropdown-item" href="/Z-A">Alfabetico ↑</a>
                    {{/if_eq}}
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-6">
        {{#if champInCart}}
        <div class="alert alert-warning" role="alert">
            <h3 align="center" class="alert-heading">
                <i class="fas fa-exclamation-triangle"></i>
                Campione già presente nel carrello!</h3>
        </div>
        {{/if}}
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>
<div class="row">
    {{#each champions}}
    <div class="row">
        {{#each this}}
        <div class="col-sm-6 col-md-3" id="colonnaCarta">
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-sm-6 col-md-8" name="champName">
                            <h2 class="card-title" name="name"> {{this.name}}</h2>
                        </div>
                        <div class="col-sm-6 col-md-4" align="right" name="prezzo">
                            <h2 name="price">{{this.price}}</h2>
                            <img name="EB" width="25" height="34" src="https://i.imgur.com/YsdvMMg.png">

                        </div>

                    </div>

                    <h3 class="titleHome" name="titleHome">{{this.title}}
                    </h3>
                    <div class="clearfix">

                        <a href="/champions/{{this.name}}" class="button" style="vertical-align:middle" role="button" id="informazioni">
                            <span>Informazioni </span>
                        </a>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button" id="aggiungi">Aggiungi al carrello</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>