<br>
<div class="row">
    <div class="col-0 col-sm-0 col-md-3 col-md-offset-4 col-sm-offset-3">

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-md-offset-4 col-sm-offset-3">
        <div style="align-content:center" id="error" class="alert alert-danger" {{#if noMessages}}hidden{{/if}}>
            <strong style="display:inline-block">{{errorMsg}}</strong>
            <a href="/user/signin">Login
                <i class="fas fa-external-link-alt"></i>
            </a>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-3 col-md-offset-4 col-sm-offset-3">

    </div>
</div>

<!--Filters and Search bar-->
<div class="row" id="barrasopra">
    <!--Search bar column-->
    <div class="col-12 col-sm-6 col-md-6" id="boxCerca" style="margin:auto">
        <div class="box" id="box">
            <div class="container-4" style="margin:auto">
                <input type="text" id="search" onkeyup="searchFunction()" placeholder="Trova un campione">
                <button class="icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-0 col-md-0" id="vuotoBarrasopra"></div>
    <!--Sort by...column-->
    <div class="col-5 col-sm-2 col-md-3" style="margin:auto">
        <div style="text-align: center">
            {{#if_eq role 'Tutti'}}
            <strong id="ordina" style="font-size: 21px">Ordina: </strong>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropOrdina" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{#if_eq sort 'pricedesc'}}Prezzo ↓{{/if_eq}} {{#if_eq sort 'priceasc'}}Prezzo ↑{{/if_eq}} {{#if_eq sort 'namedesc'}}Nome
                ↑{{/if_eq}} {{#if_eq sort 'nameasc'}}Nome ↓{{/if_eq}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#if_eq sort 'pricedesc'}}
                <a class="dropdown-item" href="/sort/price/asc">Prezzo ↑</a>
                <a class="dropdown-item" href="/sort/name/asc">Nome ↓</a>
                <a class="dropdown-item" href="/sort/name/desc">Nome ↑</a>
                {{/if_eq}} {{#if_eq sort 'priceasc'}}
                <a class="dropdown-item" href="/">Prezzo ↓</a>
                <a class="dropdown-item" href="/sort/name/asc">Nome ↓</a>
                <a class="dropdown-item" href="/sort/name/desc">Nome ↑</a>
                {{/if_eq}} {{#if_eq sort 'nameasc'}}
                <a class="dropdown-item" href="/">Prezzo ↓</a>
                <a class="dropdown-item" href="/sort/price/asc">Prezzo ↑</a>
                <a class="dropdown-item" href="/sort/name/desc">Nome ↑</a>
                {{/if_eq}}{{#if_eq sort 'namedesc'}}
                <a class="dropdown-item" href="/">Prezzo ↓</a>
                <a class="dropdown-item" href="/sort/price/asc">Prezzo ↑</a>
                <a class="dropdown-item" href="/sort/name/asc">Nome ↓</a>
                {{/if_eq}}
            </div>
            {{/if_eq}}
        </div>
    </div>
    <!--filter by role column-->
    <div class="col-5 col-sm-2 col-md-3" style="margin:auto">
        <div style="text-align: center">
            <strong id="filtra" style="font-size: 21px">Filtra: </strong>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropFiltra" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span id="bottoneFiltra">Tutti</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropFiltra" style="cursor:pointer">
                <a class="dropdown-item" onclick="roleSelection('Tutti')">
                    <!--href="/" -->Tutti</a>
                <a class="dropdown-item" onclick="roleSelection('Assassino')">
                    <!--href="/role/Assassino" -->Assassino</a>
                <a class="dropdown-item" onclick="roleSelection('Tank')">
                    <!--href="/role/Tank" -->Tank</a>
                <a class="dropdown-item" onclick="roleSelection('Tiratore')">
                    <!--href="/role/Tiratore" -->Tiratore</a>
                <a class="dropdown-item" onclick="roleSelection('Mago')">
                    <!--href="/role/Mago" -->Mago</a>
                <a class="dropdown-item" onclick="roleSelection('Supporto')">
                    <!--href="/role/Supporto" -->Supporto</a>
                <a class="dropdown-item" onclick="roleSelection('Combattente')">
                    <!--href="/role/Combattente" -->Combattente</a>
            </div>
        </div>
    </div>
    <div class="col-1 col-sm-0 col-md-0"></div>
</div>
<br>
<br>
<!--div per messaggio "Campione già presente nel carrello!"-->
<div class="row">
    <div class="col-sm-6 col-md-3">

    </div>
    <div class="col-sm-6 col-md-6">
        {{#if champInCart}}
        <div class="alert alert-warning" role="alert">
            <h3 align="center" class="alert-heading">
                <i class="fas fa-exclamation-triangle"></i>
                Campione già presente nel carrello!</h3>
        </div>
        {{/if}}
    </div>
    <div class="col-sm-6 col-md-3">

    </div>
</div>

<div class="row carte" id="myDIV">
    {{#each champions}}

    <section class="colonna-carta" id="colonnaCarta">
        <div>
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-12 col-md-8" name="champName">
                            <h2 class="card-title" name="name"> {{this.name}}</h2>
                            <p hidden>{{this.role}}</p>
                        </div>
                        <div class="col-12 col-md-4" name="prezzo">
                            <div class="row" id="rowprezzo">
                                <div class="col-md-12" id="yo2">
                                    <img class="eb-icon" name="EB" width="25" height="34" src="https://i.imgur.com/YsdvMMg.png">
                                    <h2 class="price-card" name="price">{{this.price}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="titleHome" name="titleHome">{{this.title}}
                    </h3>
                    <div class="row" id="rowbottoni">
                        <div class="col-md-12" id="yo">
                            <a href="/champions/{{this.name}}" class="btn btn-dark alert informazioni" role="button" id="informazioni">Informazioni</a>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success aggiungi" id="aggiungi">Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/each}}
</div>

<script>
    function searchFunction() {
        var input, filter, div, ul, name, i;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDIV");
        ul = div.getElementsByTagName("section");
        for (i = 0; i < ul.length; i++) {
            name = ul[i].getElementsByTagName("h2")[0];
            if (name.innerHTML.toUpperCase().indexOf(filter) > -1) {
                ul[i].style.display = "block";
            } else {
                ul[i].style.display = "none";
            }
        }
    }

    function roleSelection(c) {
        document.getElementById("bottoneFiltra").innerHTML = c;
        var x, y, i;
        x = document.getElementById("myDIV");
        y = x.getElementsByTagName("section");
        for (i = 0; i < y.length; i++) {
            role = y[i].getElementsByTagName("p")[0];
            if (c === 'Tutti') {
                y[i].style.display = "block";
            } else {
                if (role.innerHTML === c) {
                    y[i].style.display = "block";
                } else {
                    y[i].style.display = "none";
                }
            }
        }
    }



</script>